body {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    background-color: #000000;
  }
  .container {
    margin: auto;
    text-align: center;
    width: 100%;
    padding: 10px;
  }
  input {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0 solid #000000;
    color: #ffffff;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    text-align: center;
    transition: all 0.2s;
  }
  #all {
    margin: 0;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  td {
    text-align: center;
    vertical-align: middle;
  }
  h1 {
    font-size: 8vh;
  }
  h2 {
    font-size: 4vh;
  }
  #upload {
    border: 0.2em solid #ffffff;
    border-radius: 20px;
  }
  img {
    width: 100%;
  }
  a {
    color: #ffffff;
  }
  